html, body {
	height: 100%;
	background-color: #111;
	color: #fff;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

body > * {
	align-self: stretch;
	flex: none;
}

header {
	padding: .5em;
}
article {
	background-color: #000;
	flex: 1 1 0%;
	position: relative;
	overflow: auto;
}

footer {
	padding: .5em;
}